extends layout

block content
  .main
    p 本作是一个fork。版本库：
      a(href = "https://github.com/hezedu/express_html2pdf") github
    h1.dw_bigTitle html2PDF
    h1.dw_h1 原作只能通过url生成
    input.dw_input#input
    button.dw_button#createByUrl 确定
    h1.dw_h1 本作能通过内容生成
    textarea.dw_textarea#textarea
    button.dw_button#createByPost 确定
    p.dw_warn 注意：这是一个demo, 会在
      i /public/pdf_tmp
      |下生成PDF的静态文件，且不会自动清除。

    br
    hr
    p PDF的一些具体option:
      a(href="http://html2pdf.it" target="_blank") http://html2pdf.it

  script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
  script(src="/javascripts/pdf_test.js")


